
@import "utilities/variables";

@import "utilities/mixin";



body{
    font-family: $fuente;    
    color: map-get($map: $colores, $key: colorBlanco );
    background-image: $imgFondo;
    footer{
        @extend .bg-color2;
        text-decoration: none;
    }
    li{        
        @include menuLi;                   
    }    
    section{
        h2{
            text-transform: uppercase;
        }
    }
}

main{    
    h1{
        @include titulo;               
    }
    h2{
        @include textos;
    }
    div{
        img{
            :hover{
                @include efectoImg;
            }            
        }
    }
}

.bg-color1{
    background-color: map-get($map: $colores, $key: colorAmarrillo );
}

.bg-color2{
    background-color: map-get($map: $colores, $key: colorGris );
}
.textColor{
    color: map-get($map: $colores, $key: colorAmarrillo );
}
.textColor2{
    color: map-get($map: $colores, $key: colorBlanco );
}
.textColor3{
    color: map-get($map: $colores, $key: colorNegro );
}

.padHome{
    padding: 5rem;
}
.imgPortfolio{
    padding: 2rem;    
}

.loader{
    position: fixed;
    width: 100vw;
    height :100vh;
}



.mainHome, .sectionHome{
    background-image: $imgFondo2;
    height: 100vh;
}

.flechaHome{
    margin: 2rem;
}

.flotante {
    position:fixed;
    width:50px;
    height:50px;
    bottom:30px;
    right:30px;
    background-color:map-get($map: $colores, $key: colorAmarrillo );
    color: map-get($map: $colores, $key: colorNegro);
    border-radius:40px;
    text-align:center;
    font-size:30px;
    text-decoration: none;    
    :hover{
        transition: .3s;
        transform: scale(.7);
    }
}

//nosotros con grid
.padreGrid{
    display: grid;
    height: 100vh;
    grid-template-areas:    "tituloNosotros tituloNosotros"
                            "imgNosotros1 txtNosotros1"
                            "txtNosotros2 imgNosotros2"
                            "footerNosotros footerNosotros";

    margin-bottom:2rem;
}
.tituloNosotros{
    grid-area: tituloNosotros;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: map-get($map: $tamanio, $key: grande);
}
.imgNosotros1{
    grid-area: imgNosotros1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.imgNosotros2{
    grid-area: imgNosotros2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.txtNosotros1{
    grid-area: txtNosotros1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    p{
        text-align: center;
        font-size:map-get($map: $tamanio, $key: mediano);
    }
}
.txtNosotros2{
    grid-area: txtNosotros2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    p{
        text-align: center;
        font-size:map-get($map: $tamanio, $key: mediano);
    }
}
.footerNosotros{
    grid-area: footerNosotros;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
        padding: .2rem;    }
    img{
        margin: .5rem;
    }
    a{
        text-decoration: none;
    }
}
.medidasImgNosotros{
    max-width: 400px;
    max-height: 400px;
}

//mediaqueries

@media only screen and (max-width:1024px){
    .padreGrid{
        display: grid;
        height: 100vh;
        grid-template-areas:    "tituloNosotros"
                                "imgNosotros1"
                                "txtNosotros1"
                                "imgNosotros2"
                                "txtNosotros2"
                                "footerNosotros";
    
        margin-bottom:2rem;
    }
    .tituloNosotros{
        font-size: 2rem;
    }
    .txtNosotros1,.txtNosotros2{
        p{
            font-size: map-get($map: $tamanio, $key: chico);
        }
    }
    .medidasImgNosotros{
        max-width: 300px;
        max-height: 300px;
    }
    
    
}

@media only screen and (max-width:600px){
    .tituloNosotros{
        font-size: 1.8rem;
    }
    .txtNosotros1,.txtNosotros2{
        p{
            font-size: 1rem;
        }        
    }
    .formContacto label{
        display: block;
    }
    .flechaHome{
        margin: rem;
        width: 30px;
        height: 30px;
    }
    .medidasImgNosotros{
        max-width: 200px;
        max-height: 200px;
    }
    .flotante {
        position:fixed;
        width:30px;
        height:30px;       
    }
    .padHome{
        padding: 2rem;
    }
}



