
@import "utilities/variables";

body{
    font-family: $fuente;
    background-image: $imgFondo;
    color: $colorBlanco;

    footer{
        background-color: $colorGris;
    }
    li{
        transition: .3s; 
        a{
            border-radius: 1rem;
        }       
        :hover{
            background-color: $colorAmarrillo;
        }
    }
    
    section{
        h2{
            text-transform: uppercase;
        }
    }
}

main{
    h1{
        color: $colorBlanco;
        text-transform: uppercase;        
    }
}

.bg-color1{
    background-color: $colorAmarrillo;
}

.bg-color2{
    background-color: $colorGris;
}
.textColor{
    color: $colorAmarrillo;
}

.portada{
    transform: scale(.7);
    transition: .5s;
    :active{
        transform: scale(.1);
    }  
}

.imgPortfolio{
    transition: .3s;
    :hover{
        transform: scale(.7);
    }
}

.c-imgPrincipal{
    padding-top: 11%;
    padding-bottom: 21%;

    .movimiento{
        animation-name: mover; /*pongo el keyframe que quiero que haga*/
        animation-iteration-count: infinite; /* para que haga un loop infinito*/
        animation-duration: 15s; /*por cuanto tiempo quiero que haga el efecto*/
        animation-fill-mode: scale(.8);
    }
    @keyframes mover{
        0%{
            transform: scale(.8)
        }
        50%{
            transform: scale(.6)        
        }
        100%{
            transform: scale(.8)
        }
    }
}




@media only screen and (max-width:990px){
    h1{
        font-size: 2rem;
    } 
}

@media only screen and (max-width:700px){
    h1{
        font-size: 1.5rem;
    } 
    .formContacto label{
        display: block;
    }
}

