

//map
$colores:(
    colorAmarrillo: #fdd100,
    colorBlanco:#f5f5f5,
    colorGris: #1c1c1c,
    colorNegro:#252525
);

$tamanio:(
    grande:3rem,
    mediano:2rem,
    chico:1rem
);

//variables extras
$fuente: 'Prompt', sans-serif;

$imgFondo: url("../img/fondo.jpg"); 

$imgFondo2: url("../img/fondo2.jpg"); 

